server:
  port: 8081

spring:
  application:
    name: risk-central-mock-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      show-details: always

logging:
  level:
    com.riskcentral: INFO
